/* Reset styles start */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	background-color: rgb(255, 255, 255);
	color: rgb(51, 51, 51);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
	font-size: 30px;
	margin: 0px 0px 30px 0px;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;	 
}
/* ---------Reset styles end--------- */
.items {
	padding: 50px 0;
}
.items__conteiner {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}
.items__body {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	gap: 20px;
}
.item__video {
	position: relative;
	margin: 0 0 15px 0;
	/*aspect-ratio: 16 / 9;*/
	padding: 0px 0px 56% 0px;
}
.item__video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.item__text {
	font-size: 18px;
	line-height: 150%;
}
