/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	background-color: rgb(255, 255, 255);
	color: rgb(51, 51, 51);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
	font-size: 30px;
	margin: 0px 0px 30px 0px;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	 
}
/* ------------------ */


.wrapper {}
.full-screen {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0 0 0 0;
}
.full-screen__body {
	position: relative;
	z-index: 2;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	background-color: rgba(0, 0, 0, 0.397);
}
.full-screen__title {
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 25px;
	font-weight: 700;
	margin: 0 0 20px 0;
	text-align: center;
}
.full-screen__text {
	font-size: 18px;
	letter-spacing: 7px;

}
.full-screen__video {
	position: fixed;;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;

}

.content {
	position: relative;
	z-index: 3;
	background-color: black;
}
.content__container {
	max-width: 700px;
	margin: 0px auto;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding: 15px 15px;
	font-size: 18px;
	line-height: 150%;


}

.content__container p {
margin: 0 0 25px 0;
}
